<section class="d-flex align-items-center justify-content-center py-5 flex-fill">
    <div class="container-fluid px-3">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-11 col-md-11 col-lg-10 col-xl-9 border p-5 p-md-6 rounded shadow-sm"
                style="font-size: 1.3rem; max-width: 1000px;">
                <div class="mb-5">
                    <h1 class="fw-bold text-center display-4" style="white-space: nowrap; font-size: 2.5rem;">
                        Estacionamiento medido
                    </h1>
                </div>
                <form [formGroup]="parkingForm">
                    <div class="row gy-4 overflow-hidden">
                        <div class="col-12">
                            <div class="d-flex align-items-center gap-3">
                                <div class="alert alert-info d-flex align-items-center mb-0 px-4 py-2 rounded-3"
                                    style="font-size: 1.4rem; height: 60px;">
                                    <strong class="mb-0">
                                        Saldo disponible: <span class="fw-bold text-success mb-0">${{balance}}</span>
                                    </strong>
                                </div>
                                <button class="btn btn-success d-flex justify-content-center align-items-center"
                                    style="font-size: 1.5rem; " data-bs-toggle="modal" data-bs-target="#balanceModal">
                                    Añadir fondos
                                </button>
                            </div>
                        </div>

                        <div class="d-flex gap-3">
                            <select class="form-control form-control-lg" formControlName="numberPlate"
                                style="font-size: 1.5rem; height: 60px; padding: 15px;">
                                <option disabled selected>Seleccione la patente</option>
                                @for (item of numberPlates; track $index) {
                                <option>{{item}}</option>
                                }
                            </select>
                            <button class="btn btn-primary d-flex justify-content-center align-items-center p-0"
                                style="width: 60px; height: 60px; border-radius: 8px; font-size: 1.5rem;"
                                data-bs-toggle="modal" data-bs-target="#numberPlateModal">
                                +
                            </button>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="d-grid">
                                <button class="btn btn-lg btn-success rounded-2 text-white" type="submit"
                                    style="height: 60px; font-size: 1.5rem; padding: 15px;"
                                    (click)="onSubmitParkingForm()">
                                    Iniciar estacionamiento
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="numberPlateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ingrese la nueva patente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="numberPlateForm">
                    <input class="form-control border-bottom" placeholder="Patente" formControlName="number">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="onSubmitNumberPlateForm()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="balanceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ingrese el monto que desea cargar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="balanceForm">
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control border-bottom" formControlName="balance"
                            placeholder="00.00">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="onSubmitBalanceForm()">Cargar</button>
            </div>
        </div>
    </div>
</div>