<section class="d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="row gy-5 justify-content-center">
                    <div class="col-12 col-lg-5">
                        <div class="mb-5">
                            <h1 class="fw-bold text-center">Inicio de sesión</h1>
                        </div>
                        <form [formGroup]="loginForm">
                            <div class="row gy-3 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="tel" class="form-control border-0 border-bottom rounded-0"
                                            placeholder="PhoneNumber" formControlName="phoneNumber">
                                        <label class="form-label">Número de teléfono</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control border-0 border-bottom rounded-0"
                                            name="password" id="password" value="" placeholder="Password" required
                                            formControlName="password">
                                        <label for="password" class="form-label">Contraseña</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn btn-lg rounded-1 fs-6 text-white" type="submit"
                                            style="background-color: rgb(52, 58, 84);" (click)="onLogIn()">Iniciar sesión</button>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <p class="text-center m-0">No tenés cuenta? <a href="#!">Registrate</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>