<footer class="text-white py-3 d-flex align-items-center" 
        style="background-color: rgb(52, 58, 84); font-size: 1.1rem; min-height: 72px;">
  <div class="container-fluid">
    <div class="row align-items-center w-100">
      <div class="col-md-1 d-none d-md-block"></div>
      <div class="col-12 col-md-10 text-center">
        <span class="fs-5">
          © 2025 Copyright:
          <a class="text-white text-decoration-none" href="https://www.cespi.unlp.edu.ar/">cespi.unlp.edu.ar</a>
        </span>
      </div>
      <div class="col-12 col-md-1 text-center text-md-end mt-3 mt-md-0">
        <img src="/assets/img/logo-cespi.png" alt="Logo" 
             style="max-width: 120px; height: auto; object-fit: contain;" 
             class="img-fluid">
      </div>
    </div>
  </div>
</footer>