<footer class="text-white" style="background-color: rgb(52, 58, 84);">
  <div class="container-fluid">
    <div class="row align-items-center p-3">
      <div class="col-md-1 d-none d-md-block"></div>
      <div class="col-12 col-md-10 text-center">
        © 2025 Copyright:
        <a class="text-white text-decoration-none" href="https://www.cespi.unlp.edu.ar/">cespi.unlp.edu.ar</a>
      </div>
      <div class="col-12 col-md-1 text-center text-md-end mt-3 mt-md-0">
        <img src="/assets/img/logo-cespi.png" alt="Logo" class="img-fluid" style="max-width: 120px; height: auto;">
      </div>
    </div>
  </div>
</footer>