<footer class="text-white" style="background-color: rgb(52, 58, 84);">
  <div class="d-flex justify-content-between align-items-center p-3">
    <div class="flex-shrink-0" style="width: 120px;"></div>
    
    <!-- Texto realmente centrado -->
    <div class="text-center mx-auto">
      © 2025 Copyright:
      <a class="text-white text-decoration-none" href="https://www.cespi.unlp.edu.ar/">cespi.unlp.edu.ar</a>
    </div>
    
    <!-- Logo alineado a la derecha -->
    <div class="flex-shrink-0">
      <img src="/assets/img/logo-cespi.png" alt="Logo" width="120" height="auto">
    </div>
  </div>
</footer>